<!-- <nav>
    <ul>
      <li><strong>Comunit</strong></li>
    </ul>
    <ul>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#" role="button">Button</a></li>
    </ul>
  </nav> -->

  <div class="hero" data-theme="dark">
    <nav class="container-fluid">
    </nav>

    <header class="container">
        <!-- <hgroup> -->
        <div class="logo">
            <img src="../assets/img/comunit_logo.svg" alt="comunit_logo" />
            <h1>Comunit</h1>
        </div>
        <small>
            <i> Boletim dos Trabalhadores das Tecnologias de Informação e Comunicação
                <!-- <br /> -->
                • <a href="http:\\porto.pcp.pt">Porto</a>
                • <a href="http:\\pcp.pt">PCP</a>
            </i>
        </small>
        <!-- </hgroup> -->
    </header>
</div>