<article class="post">
	<header class="post-header">
		<div>
			<time datetime="{{ post.date }}">
				{{ include.post_date  | date: "%Y-%m-%d" }}
			</time>
		</div>
		<div>
			{% for tag in include.post_tags %}
				<a href="/tag/{{ tag }}">[ {{ tag }} ]</a>
			{% endfor %}
		</div>
	</header>

	<h2 id="{{ include.post_url }}">
		<a class="share-anchor" href="#{{ include.post_url }}">
			{{ include.post_title }}
		</a>
	</h2>
	
	{{ include.post_content }}

	{% for asset in include.post_assets %}
		<img class="post-image" alt="{{ asset.alt }}" src="{{ baseurl }}{{ asset.path }}" />
	{% endfor %}


	{% include contact.html %}
</article>
