<section aria-label="Subscribe example">
    <div class="container">
        <article>
            <hgroup>
                <h2>Mais informações?</h2>
                <p>Deixa-nos o teu contacto.</p>
            </hgroup>



            <form action="https://formsubmit.co/2c21491db134162f892a9fec5a1a1903" method="POST">
                <input type="hidden" name="_next" value="{{baseurl}}/ajc.html">
                <input type="hidden" name="_captcha" value="false">
                <input type="text" id="firstname" name="firstname" placeholder="Nome" aria-label="First name"
                    required />
                <input type="email" id="email" name="email" placeholder="Email" aria-label="Email address" required />

                <button type="submit" class="primary">Enviar</button>
            </form>
        </article>
    </div>
</section>
