---
layout: default
---



{{ content }}

    <!-- Subscribe -->
    <section aria-label="Subscribe example">
        <div class="container">
            <article>
                <hgroup>
                    <h2>Mais informações?</h2>
                    <p>Deixa-nos o teu contacto.</p>
                </hgroup>
                <form class="grid">
                    <input type="text" id="firstname" name="firstname" placeholder="Nome" aria-label="First name"
                        required />
                    <input type="email" id="email" name="email" placeholder="Email" aria-label="Email address"
                        required />
                    <button type="submit" onclick="event.preventDefault()" class="primary">Enviar</button>

                </form>
            </article>
        </div>
    </section>
    <!-- ./ Subscribe -->
